@inherits LayoutComponentBase

<div class="page">
        <NavMenu />
    <main class="main">
        <div>
            @Body
        </div>
    </main>
</div>

<style>
        /* Navbar background color */
    .main {
        margin: 20px;
    }
</style>