@page "/"
@inject IMovieService MovieService

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Release Date</th>
            <th>Liked</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     @foreach (var movie in movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.ReleaseDate.ToShortDateString()</td>
            <td>@movie.IsLiked</td>
        </tr>
    } 
    </tbody>
</table>

@code {
    public List<Movie> movies = new List<Movie>();
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        movies = await MovieService.GetAllMoviesAsync();
    }
}